extends layout

block content
	div.container-fluid
		div.row-fluid
			div.span3
				div.well
					ul.nav
						li.nav-header
							p Sidebar
						li.active
							a(href="#") Link
			div.span9
				div.hero-unit
					h1 Hello World
					p This is a website for making polls, and voting on polls.  Represent Yourself!
					a(href="#").btn.btn-primary.btn-large Learn More